

/*----- BODY -----*/
body{
    background-color: #F0F0F0;
    font-family: helvetica-w01-roman, "Gilroy Light", sans-serif;
}

.navBar ul{
    list-style-type: none;
    padding-left: 17em;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-direction: row;
}

.navBar ul li{
    padding-right: 4em;
}

.navButton{
    color: #283747;

    text-decoration: none;
}

.navButton:hover{
    background-color: #33445a;
    color: #ffffff;
    border-radius: 5px;
    border-style: solid;
    border-color: #283747;
    border-width: 0.4em;

    transition: all 0.5s;
}

.mainHeader{
    margin-top: -1.4em;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0px 8px rgb(200, 200, 200);
}

#audio:hover{
    width: 20em;
}

#audio{
    width: 5.3em;
    border-style: solid;
    border-width: 0.1em;
    border-color: #343434;
    border-radius: 2em;

    transition: width 0.7s ease-in-out;
}


header{
    background-color: #f4f6f8;
}