

h1{
    text-align: center;
}

form{
    margin-top: 2em;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 20%;
}

input{
    height: 2em;
    margin-bottom: 1em;
}

input, textarea{
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #e0e0e0;
}

textarea{
    height: 10em;
    margin-bottom: 2em;

}

.submit{
    background-color: #aadafd;
    color: white;
    width: 50%;
    margin-left: 25%;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background-color: #33445a;*/

}