

h1, .mainSentence{
    text-align: center;
}


.mainBody{
    display: flex;
    flex-flow: row nowrap;
}

.mainBody main{
    margin-left: 14em;
    margin-right: 5em;
}

.aside{
    margin-left: 5em;
    margin-right: 14em;
}

.date{
    color: #3b526b;
}

h3, article p{
    padding-left: 2em;
}

h3:not(.profil h3){
    padding-top: 3em;
}

article ~ p{
    margin-top: -1em;
}

.mix:not(.langues .mix){
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 2.5em auto 3em;
}

.langues .mix{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.langues{
    width: 100%;

}

.aside{
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 1px 0px 8px rgb(200, 200, 200);
}



/*Photo*/
.photo{
    text-align: center;
    background-color: #F0F0F0;
    margin-bottom: 2em;
}

.photo img{
    margin-top: 1em;
    border-radius: 50%;
    width: 9em;
    height: 9em;
    box-shadow: 1px 0px 8px rgb(200, 200, 200);
}

/*Informations*/

.infos{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

.infos i{
    background-color: #F0F0F0;
    border-radius: 50%;
    color: #33445a;
    height: 1.5em;
    width: 1.5em;

    margin-top: 0.5em;
}

.infos p{
    margin-left: -1.5em;
}
