

h1{
    text-align: center;
    margin-top: 2em;
}

p{
    text-align: center;
    padding-bottom: 4em;
}

.btnContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}

i{
    cursor: pointer;
}

#linkedin, #linkedinAnime{
    background: #007bb5;
    color: white;
}

#google, #googleAnime{
    background: #dd4b39;
    color: white;
}

#twitter, #twitterAnime{
    background: #55ACEE;
    color: white;
}

#mail, #mailAnime{
    background: #a4c639;
    color: white;
}

.fab, .fas{
    padding: 0.4em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

    transition: all 0.3s ease-in-out;

    cursor: pointer;
}

.btnContainer i{
    z-index: 2;
}

.fab:hover, .fas:hover{
    opacity: 0.6;
}


/*Anime Container*/
/*.animeContainer{*/

/*    position: absolute;*/

/*    !*margin: 6% 40% auto;*!*/
/*    margin: -40px 39.5% auto;*/

/*    background-color: #5d5d5d;*/
/*    width: 5em;*/
/*    !*padding: 0.4em;*!*/
/*    height: 3em;*/
/*}*/

#container2{
    margin-top: -5.4em;
    /*display: none;*/

}

@keyframes buttonAnime {
    0%{
        opacity: 0;
    }
    30%{
        margin-top: 2em;
        margin-left: 0;
        width: 1em;
        opacity: 100;
        border-radius: 50%;
    }

    50%{
        margin-top: 2em;
        margin-left: 0;
        width: 1em;
        height: 1em;
        opacity: 100;
        border-radius: 20px;
    }


    100%{
        margin-top: 2em;
        margin-left: -1em;
        width: 6em;
        height: 0.6em;
        border-radius: 10px;
        display: flex;
        opacity: 100;
    }

}


@keyframes textAnime {
    0%{
        opacity: 0;
    }

    0%{
        opacity: 0;
    }

    80%{
        opacity: 0;
        /*background-color: #F0F0F0;*/
    }

    100%{
        opacity: 100;
    }
}



/*#container2 i .fab{*/
/*    animation: buttonAnime 3s infinite ease-out;*/
/*}*/



#animeIt{
    animation: buttonAnime 2.5s ease-in-out;
    background: #dd4b39;
    color: #dd4b39;

}

#gmail, #ecemail{
    font-weight: normal;
    font-size: 0.5em;

    position: absolute;
    z-index: 100;

    opacity: 0;
}

#gmail{
    margin-left: -5.5em;
    margin-top: 2em;
}

/*#ecemail{*/
/*    font-size: 0.5em;*/
/*    background-color: #a4c639;*/
/*    margin-right: -19em;*/
/*    !*margin-top: 5em;*!*/

/*}*/

#showText{
    animation: textAnime 2.5s ease-in;

    font-weight: normal;
    font-size: 0.5em;

    position: absolute;
    z-index: 100;

    margin-left: -5.5em;
    margin-top: 2em;

    background: #dd4b39;

    /*padding: 0.5em;*/

    width: 12em;
    height: 2em;

    border-radius: 10px;


}

#linkedinAnime, #googleAnime, #mailAnime, #twitterAnime{
    opacity: 0;
}



